<h1>Series</h1>

<ul>
 {{#each model}}
 	<li class="serie">
		<strong>{{#linkTo 'serie' this}}{{this.title}}{{/linkTo}}</strong>
		<p>{{description}}</p>
		<p>Antal: {{videoCount}}</p>
	</li>
	<hr>
  {{/each}}
</ul>

{{outlet}}
